/* You can add global variables to this file, and also import other style files */

// ******* basic color variables ******* //
// --primary--
$iro-color-primary-dark: #4184F3;
$iro-color-primary-light: #4184F3;
// --accent--
$iro-color-accent-dark: #FF509A;
$iro-color-accent-light: #FF509A;

// --other colors--
$iro-color-yellow-light: #f8951d;
$iro-color-light-gray: #EFEFEF;

// --border colors--//
$iro-border-color-dark: #f1f1f1;
$iro-border-color-light: #f1f1f1;

// ******* text styles variables ******* //
// --application colors--
$iro-color-text-bold-dark: #1e2831;
$iro-color-text-bold-light: #787878;
$iro-color-text-normal-dark: #b4b4b4;
$iro-color-text-normal-light: #b4b4b4;


